<section class="login-block">
  <div class="container-compartido">
    <div class="container-izq">
      <img src="./assets/img/Nezter-Logo_vrit.png" style="width: 380px" />
    </div>
    <div class="container-derecho">
      <div class="logo-sivo-verde">
        <img src="./assets/img/icon-logo.png" style="width: 80px; text-align: center" />
      </div>

      <div style="margin-bottom: 10px;">
        <h2 class="inicioSesion">Verificación en dos pasos</h2>
        <p class="inicioSesionParrafo">Para verificar su identidad, hemos enviado un código de verificación a su dirección de correo electrónico.
          Por favor verifique su bandeja de entrada, incluyendo correo no deseado, y capture el código en el siguiente campo.
          El código expirará en 15 minutos.</p>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="loginForm">

            <div class="center-items">
              <mat-form-field class="name-field" appearance="outline"
                  style="margin-bottom: 20px; display: contents !important;">
                  <mat-label style="color:#000000; font-size: 15px;">Codigo Otp</mat-label>
                  <input formControlName="CodigoOtp" matInput class="inputsLogin">
                  <div class="invalid-feedback" >
                    {{msgDeError}}
                   </div>
              </mat-form-field>

          </div>

            <div class="center-items">
              <button type="submit" (click)="ConfirmarLogeoUsuarioIduOtp()">Continuar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
