<mat-card class="cardWithShadow mat-elevation-z8">
  <mat-card-header class="header-separador">
    <mat-card-title>Guardar gastos</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content-separador">
    <form [formGroup]="gastoForm" class="form-container">
      <!-- Gasto -->
      <div mat-subheader>Gasto:</div>

      <!-- Concepto -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Concepto</mat-label>
          <input
            matInput
            formControlName="concepto"
            placeholder="Ej: Compra de insumos"
          />
          <mat-error *ngIf="gastoForm.get('concepto')?.hasError('required')">
            El concepto es obligatorio.
          </mat-error>
          <mat-error *ngIf="gastoForm.get('concepto')?.hasError('maxlength')">
            Máximo 250 caracteres.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Detalle Gasto -->
      <div mat-subheader>Detalle Gasto:</div>

      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <!-- Fecha -->
        <mat-form-field appearance="outline" fxFlex="20">
          <mat-label>Fecha</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [(ngModel)]="fechaDetalle"
            formControlName="fecha"
          />
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="gastoForm.get('fecha')?.hasError('required')">
            La fecha es obligatoria.
          </mat-error>
        </mat-form-field>

        <!-- Descripción -->
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Descripción</mat-label>
          <input
            matInput
            [(ngModel)]="descripcionDetalle"
            formControlName="descripcion"
            placeholder="Ej: Detalles del gasto"
          />
          <mat-error *ngIf="gastoForm.get('descripcion')?.hasError('required')">
            La descripción es obligatoria.
          </mat-error>
        </mat-form-field>

        <!-- Monto -->
        <mat-form-field appearance="outline" fxFlex="20">
          <mat-label>Monto</mat-label>
          <input
            matInput
            type="number"
            [(ngModel)]="montoDetalle"
            formControlName="monto"
          />
          <mat-error *ngIf="gastoForm.get('monto')?.hasError('required')">
            El monto es obligatorio.
          </mat-error>
          <mat-error *ngIf="gastoForm.get('monto')?.hasError('min')">
            El monto debe ser mayor a 0.
          </mat-error>
        </mat-form-field>

        <!-- Botón para agregar gasto -->
        <div fxFlex="5">
          <button
            mat-mini-fab
            color="primary"
            aria-label="Agregar detalle"
            (click)="agregarOActualizarDetGasto()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </div>

      <!-- Tabla de detalles de gasto -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <div class="tabla-scrollable" fxFlex>
          <table mat-table [dataSource]="detGastosDataSource">
            <!-- Fecha Column -->
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef class="sticky-header">
                Fecha
              </th>
              <td mat-cell *matCellDef="let element">
                {{ element.fecha | date : "dd/MM/yyyy" }}
              </td>
            </ng-container>

            <!-- Descripción Column -->
            <ng-container matColumnDef="descripcion">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="sticky-header text-center"
              >
                Descripción
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                {{ element.descripcion }}
              </td>
            </ng-container>

            <!-- Monto Column -->
            <ng-container matColumnDef="monto">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="sticky-header text-center"
              >
                Monto
              </th>
              <td mat-cell *matCellDef="let element" class="text-center">
                {{ element.monto | currency }}
              </td>
            </ng-container>

            <!-- Acciones Column -->
            <ng-container matColumnDef="acciones">
              <th
                mat-header-cell
                *matHeaderCellDef
                class="sticky-header text-center"
              >
                Acciones
              </th>
              <td
                mat-cell
                *matCellDef="let element; let i = index"
                class="text-center"
              >
                <button
                  title="Eliminar detalle"
                  mat-icon-button
                  color="warn"
                  (click)="removeGasto(i)"
                >
                  <i-tabler class="d-flex" name="trash"></i-tabler>
                </button>
              </td>
            </ng-container>

            <tr
              mat-header-row
              *matHeaderRowDef="detGastosDisplayedColumns"
            ></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: detGastosDisplayedColumns"
            ></tr>
          </table>

          <!-- Mensaje si no hay detalles -->
          <div
            *ngIf="detGastosDataSource?.data?.length === 0"
            class="empty-row"
          >
            No hay registros.
          </div>
        </div>
      </div>

      <!-- Botones -->
      <div class="row buttons">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="guardar()"
        >
          Guardar
        </button>
        <button mat-raised-button color="warn" type="button" (click)="cerrar()">
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
