<mat-card class="cardWithShadow mat-elevation-z8">
   <mat-card-header class="header-separador">
    <mat-card-title>Calendario</mat-card-title>
     <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    <div class="m-l-auto">
      <button mat-flat-button color="primary" (click)="abrirModalNuevaTarea()">
        <mat-icon>add_circle</mat-icon>
        Nueva Tarea
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div>
      <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
  </mat-card-content>
</mat-card>
