.card-full {
  width: 100%;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 1rem;
}

.content-row {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.right-aligned {
  text-align: right;
}

.actions-row {
  padding: 1rem;
}
.selected {
  background-color: #d3e3fd !important; /* Puedes usar el color que quieras */
}
