<!-- Botón de cerrar flotante -->
<button mat-icon-button class="close-button" (click)="cerrar()">✖</button>

<!-- Contenedor principal -->
<div class="modal-container">
  <!-- Spinner de carga -->
  <div class="loading-overlay" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <!-- Mostrar imagen o PDF -->
  <div class="isImage" *ngIf="isImage(); else pdfViewer">
    <img
      [src]="base64Data"
      (load)="imagenCargada()"
      alt="Imagen en Base64"
      width="100%"
      height="100%"
    />
  </div>

  <ng-template #pdfViewer >
    <iframe
      class="isPdf"
      title="VerPdf"
      *ngIf="safePdfUrl"
      [src]="safePdfUrl"
      width="100%"
      height="100%"
      (load)="isLoading = false"
    ></iframe>
  </ng-template>
</div>
