<section class="login-block">
  <div class="container-compartido">
    <div class="container-izq">
      <img src="./assets/img/logoN.png" style="width: 280px" />
    </div>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-12">

          <div *ngIf="visibleSendEmail">
            <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <!-- <div class="form-group center-items">
                <img src="./assets/img/Intercam/logo_intercam.png" style="max-width: 60%">
              </div> -->
              <div class="card-body center-items">
                <h3 class="instrucciones">Ingresa tu correo electrónico y te enviaremos una liga para restablecer tu contraseña</h3>
                <p class="card-description text-center text-danger">{{ ErrorDescription }}</p>
              </div>

              <div class="center-items">
                <mat-form-field class="name-field" appearance="outline">
                  <mat-label style="color:#49454F; font-size: 15px;">Correo</mat-label>
                  <input matInput placeholder="example@email.com" type="email" formControlName="correo" class="inputsLogin"
                  [ngClass]="{ 'is-invalid': (this.f.correo?.value === '' || this.f.correo?.value == undefined) && this.f.correo.errors?.pattern }">
                  <!--Validaciones para email-->
                  <mat-error *ngIf="this.f['correo']?.hasError('required')">Correo electrónico requerido</mat-error>
                  <mat-error *ngIf="this.f['correo']?.hasError('pattern')">Correo electrónico invalido</mat-error>
                </mat-form-field>
              </div>

              <!--Mensajes error de servidor-->
              <div *ngIf="error" class="error-server" style="text-align: center;">{{error}}</div>

              <div class="center-items">
                <button type="submit" mat-flat-button>Enviar</button>
              </div>



              <div class="center-items center-a-container">
                <a routerLink="/login" class="d-md-block regresarInicio">Regresar al inicio</a>
              </div>
            </form>
          </div>

          <div *ngIf="visibleCheck">
            <form>
              <!-- <div class="form-group center-items">
                <img src="./assets/img/Nezter-Logo_vrit.png" style="max-width: 70%">
              </div> -->
              <div class="card-body center-items" style="text-align: center; color: rgb(153, 153, 153);">
                <p class="instrucciones">Revise su correo electrónico para restablecer su contraseña.</p>
              </div>
              <!-- div class="form-group center-items">
                <img src="./assets/img/nz/ieLogoC.png" style="max-width: 60%">
              </div>< -->
              <div class="center-items center-a-container">
                <a routerLink="/login" class="d-md-block regresarInicio">Regresar al inicio</a>
              </div>
            </form>
          </div>
        </div>
        <!-- <div class="col-md-6">
            <form>
                <div class="card-body img center-items">
                    <img src="./assets/img/Intercam/img_house2.png">
                </div>
            </form>
        </div> -->
      </div>
    </div>
  </div>
</section>
