<!-- <mat-card class="cardWithShadow mat-elevation-z8">
  <mat-card-header class="header-separador">
    <mat-card-title>Seguimiento ()</mat-card-title>
    <div class="m-l-auto"></div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content-separador">
    <form [formGroup]="SeguimientoForm" class="form-container"></form>
  </mat-card-content>
</mat-card> -->

<div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
  <!--DETALLE DEL REPORTE-->
  <div fxFlex="40">
    <mat-card class="mat-elevation-z8">
      <mat-card-header class="gc-mat-card-header">
        <mat-card-title class="gc-titulo-seguiemtno"
          >Detalle del reporte</mat-card-title
        >
        <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
        <div class="m-l-auto"></div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="gc-mat-card-content">
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex class="gc-title">
            <label><strong>Estatus:</strong></label
            ><br />
            <sub>Edita el estatus:</sub>
          </div>
          <div fxFlex>
            <div>
              <mat-form-field appearance="outline">
                <mat-label>Estatus</mat-label>
                <mat-select [(value)]="selectedValue">
                  <mat-option
                    *ngFor="let option of options"
                    [value]="option.value"
                  >
                    {{ option.label }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>

        <!--Titulo-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex class="gc-title">
            <label><strong>Titulo:</strong></label
            ><br /><span>{{ reporteServicio?.titulo }}</span>
          </div>
        </div>
        <!--Tipo Solicitud		Creado por-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex="50" class="gc-title">
            <label><strong>Tipo:</strong></label
            ><br /><span>{{ reporteServicio?.tipoSolicitud }}</span>
          </div>
          <div fxFlex="50" class="gc-title">
            <label><strong>Creado por:</strong></label
            ><br /><span>{{ reporteServicio?.usuarioCreacion }}</span>
          </div>
        </div>
        <!--Cliente 			Fecha Creacion-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex="50" class="gc-title">
            <label><strong>Cliente:</strong></label
            ><br /><span>{{ reporteServicio?.cliente }}</span>
          </div>
          <div fxFlex="50" class="gc-title">
            <label><strong>Creado:</strong></label
            ><br /><span>{{ reporteServicio?.fechaInicio | date }}</span>
          </div>
        </div>
        <!--Descripcion-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex class="gc-title">
            <label><strong>Descripción:</strong></label
            ><br /><span>{{ reporteServicio?.descripcion }}</span>
          </div>
        </div>
        <!--Accesorios-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex class="gc-title">
            <label><strong>Accesorios:</strong></label
            ><br /><span>{{ reporteServicio?.accesorios }}</span>
          </div>
        </div>
        <!--Observaciones-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex class="gc-title">
            <label><strong>Observaciones:</strong></label
            ><br /><span>{{
              reporteServicio?.observacionesRecomendaciones
            }}</span>
          </div>
        </div>
        <!--Encargado			Tecnico-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex="50" class="gc-title">
            <label><strong>Encargado:</strong></label
            ><br /><span>{{ reporteServicio?.usuarioEncargado }}</span>
          </div>
          <div fxFlex="50" class="gc-title">
            <label><strong>Tecnico:</strong></label
            ><br /><span>{{ reporteServicio?.usuarioTecnico }}</span>
          </div>
        </div>
        <!--Servicio Preventivo	Servcio Correctivo-->
        <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
          <div fxFlex="50" class="gc-title">
            <label><strong>Servicio preventivo:</strong></label
            ><span>
              {{ reporteServicio?.servicioPreventivo ? "Si" : "No" }}</span
            >
          </div>
          <div fxFlex="50" class="gc-title">
            <label><strong>Servicio correctivo:</strong></label
            ><span>
              {{ reporteServicio?.servicioCorrectivo ? "Si" : "No" }}</span
            >
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <!--SEGUIMENTOS-->
  <div fxFlex>
    <mat-card class="mat-elevation-z8">
      <mat-card-header class="gc-mat-card-header">
        <mat-card-title class="gc-titulo-seguiemtno"
          >Seguimiento</mat-card-title
        >
        <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
        <div class="m-l-auto">
          <button
            mat-flat-button
            color="primary"
            (click)="openAgregarSeguimientoModal()"
          >
            <mat-icon>add_circle</mat-icon>
            Agregar Seguimento
          </button>
        </div>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="gc-mat-card-content">
        <!--TIMELINE-->
        <div class="timeline m-t-24">
          @for(seg of seguimentos; track seg.id) {
          <div class="timeline-item d-flex overflow-hidden">
            <div class="time text-right mat-subtitle-1 f-s-14">
              {{ seg.fechaCreacion | date : "short" }}
            </div>
            <div class="point d-flex align-items-center">
              <span class="timeline-badge border-primary m-y-8"></span>
              <span class="timline-border d-block"></span>
            </div>
            <div class="desc">
              <span class="mat-subtitle-1 f-s-15 lh-20 f-w-600 d-block">{{
                seg.seguimento1
              }}</span>
              <div class="d-flex align-items-center m-t-16">
                <a
                  mat-mini-fab
                  class="bg-light-primary text-primary shadow-none icon-27"
                >
                  <i-tabler class="d-flex" name="user-edit"></i-tabler>
                </a>
                <div class="mat-body-1 f-w-600 m-l-12">{{ seg.usuario }}</div>
              </div>
              <br />
              <span class="mat-subtitle-1 f-s-14 lh-20 f-w-600 d-block"
                >Productos:</span
              >
              <div class="d-block m-l-12">
                @for(prod of seg.productos; track prod.id){
                <div class="d-flex align-items-center m-t-16">
                  <a
                    mat-mini-fab
                    class="bg-light-primary text-primary shadow-none icon-27"
                  >
                    <i-tabler class="d-flex" name="tool"></i-tabler>
                  </a>
                  <div class="mat-body-1 m-l-12 f-s-10">
                    {{ prod.codigo }} - {{ prod.producto }}
                  </div>
                </div>
                }
              </div>
              <br />
              <span class="mat-subtitle-1 f-s-14 lh-20 f-w-600 d-block"
                >Evidencias:</span
              >
              <div class="d-block m-l-12">
                @for(evid of seg.evidencias; track evid.id){
                <div class="d-flex align-items-center m-t-16">
                  <a
                    mat-mini-fab
                    class="bg-light-primary text-primary shadow-none icon-27"
                  >
                    <i-tabler class="d-flex" name="photo"></i-tabler>
                  </a>
                  <a
                    class="text-primary text-decoration-none mat-body-1 m-l-12 f-s-10"
                    href="{{ evid.ruta }}"
                    title="{{ evid.nombre }}"
                    target="_blank"
                  >
                    {{ evid.nombre }}
                    <!-- {{ prod.ruta }} -->
                  </a>
                </div>
                }
              </div>
              <a href="#" class="text-primary text-decoration-none mat-body-1"
                >#ML-3467</a
              >
            </div>
          </div>
          }
        </div>
        <br />
      </mat-card-content>
    </mat-card>
  </div>
</div>
