<mat-card class="cardWithShadow mat-elevation-z8">
  <mat-card-header class="header-separador">
    <mat-card-title>Crear Reporte de Servicio</mat-card-title>
    <div class="m-l-auto">
      <mat-slide-toggle
        labelPosition="before"
        [(ngModel)]="servicioIniciado"
        (change)="onChangeIniciarServicio($event)"
        ><strong>Iniciar Servicio:</strong></mat-slide-toggle
      >
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content class="content-separador">
    <form [formGroup]="reporteServiciosForm" class="form-container">
      <!-- Titulo y Cliente -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Título</mat-label>
          <input
            matInput
            formControlName="titulo"
            placeholder="Ej: Mantenimiento de Equipo"
          />
          <mat-error
            *ngIf="reporteServiciosForm.get('titulo')?.hasError('required')"
          >
            El título es obligatorio.
          </mat-error>
        </mat-form-field>
        <!--Clientes-->
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Cliente</mat-label>
          <input
            matInput
            placeholder="Buscar clientes"
            formControlName="idCliente"
            (input)="buscarCliente($event)"
            [matAutocomplete]="autoCliente"
          />
          <mat-autocomplete
            #autoCliente="matAutocomplete"
            [displayWith]="displayCliente"
          >
            <mat-option *ngFor="let item of clientesFiltrados" [value]="item">
              {{ item.codigo }} - {{ item.nombre }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="reporteServiciosForm.get('idCliente')?.hasError('required')"
          >
            El Grupo es obligatorio.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Descripcion -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Descripción</mat-label>
          <textarea
            matInput
            formControlName="descripcion"
            placeholder="Detalles del servicio"
          ></textarea>
          <mat-error
            *ngIf="
              reporteServiciosForm.get('descripcion')?.hasError('required')
            "
          >
            La descripción es obligatoria.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Accesorios -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Accesorios</mat-label>
          <textarea
            matInput
            formControlName="accesorios"
            placeholder="Ej: Herramientas, Componentes"
          ></textarea>
        </mat-form-field>
      </div>

      <!-- Servicios y Proxima Visita -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-checkbox
          formControlName="servicioPreventivo"
          class="cc-rs-btn_add"
          fxFlex
        >
          Servicio Preventivo
        </mat-checkbox>

        <mat-checkbox
          formControlName="servicioCorrectivo"
          class="cc-rs-btn_add"
          fxFlex
        >
          Servicio Correctivo
        </mat-checkbox>
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Fecha de Inicio</mat-label>
          <input
            matInput
            [matDatepicker]="pickerInicio"
            formControlName="fechaInicio"
            placeholder="Selecciona una fecha"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerInicio"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerInicio></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Observaciones y Recomendaciones -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Observaciones y Recomendaciones</mat-label>
          <textarea
            matInput
            formControlName="observacionesRecomendaciones"
            placeholder="Comentarios adicionales"
          ></textarea>
          <mat-error
            *ngIf="
              reporteServiciosForm
                .get('observacionesRecomendaciones')
                ?.hasError('required')
            "
          >
            Las observaciones son obligatorias.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Usuario Encargado y Usuario Tecnico -->
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <!--Usuario encargado-->
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Usuario Tecnico</mat-label>
          <input
            matInput
            formControlName="usuarioEncargado"
            placeholder="Ej: Mantenimiento de Equipo"
          />
          <mat-error
            *ngIf="
              reporteServiciosForm.get('usuarioEncargado')?.hasError('required')
            "
          >
            Selecciona un usuario tecnico.
          </mat-error>
        </mat-form-field>
        <!--Usuario tecnico-->
        <!-- <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Usuario Técnico</mat-label>
          <input
            matInput
            placeholder="Buscar usuario técnico"
            formControlName="idUsuarioTecnico"
            (input)="buscarUsuarioTecnico($event)"
            [matAutocomplete]="autoUsuarioTecnico"
          />
          <mat-autocomplete
            #autoUsuarioTecnico="matAutocomplete"
            [displayWith]="displayUsuarioTecnico"
          >
            <mat-option
              *ngFor="let item of usuariosTecnicosFiltrados"
              [value]="item"
            >
              {{ item.nombres }} {{ item.apellidos }}
            </mat-option>
          </mat-autocomplete>
          <mat-error
            *ngIf="
              reporteServiciosForm.get('idUsuarioTecnico')?.hasError('required')
            "
          >
            El usuario técnico es obligatorio.
          </mat-error>
        </mat-form-field> -->
        <mat-form-field appearance="outline" fxFlex="50">
          <mat-label>Usuario Tecnico</mat-label>
          <input
            matInput
            formControlName="usuarioTecnico"
            placeholder="Ej: Mantenimiento de Equipo"
          />
          <mat-error
            *ngIf="
              reporteServiciosForm.get('usuarioTecnico')?.hasError('required')
            "
          >
            Selecciona un usuario tecnico.
          </mat-error>
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <!-- Cambiar por tabla con las columnas cantidad, producto, eliminar, aumentar y restar cantidad -->
        <div fxFlex class="tabla-con-scroll">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            class="gc-s-header"
            fxFlex
          >
            <div mat-subheader>Productos</div>
            <a
              mat-flat-button
              color="primary"
              (click)="abrirAgregarProdutoModal()"
            >
              <mat-icon>add_circle</mat-icon>
              Producto
            </a>
          </div>
          <div class="tabla-scrollable">
            <table mat-table [dataSource]="productosDataSource">
              <!-- producto Column -->
              <ng-container matColumnDef="producto">
                <th mat-header-cell *matHeaderCellDef class="sticky-header">
                  Producto
                </th>
                <td mat-cell *matCellDef="let element">
                  {{ element.producto }}
                </td>
              </ng-container>

              <!-- cantidad Column -->
              <ng-container matColumnDef="cantidad">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Cantidad
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.cantidad }}
                </td>
              </ng-container>

              <!-- montoGasto Column -->
              <ng-container matColumnDef="montoGasto">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Monto Gasto
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.montoGasto }}
                </td>
              </ng-container>

              <!-- porcentaje Column -->
              <ng-container matColumnDef="porcentaje">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Porcentaje
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.porcentaje }}
                </td>
              </ng-container>

              <!-- montoVenta Column -->
              <ng-container matColumnDef="montoVenta">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Monto Venta
                </th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  {{ element.montoVenta }}
                </td>
              </ng-container>

              <!-- acciones Column -->
              <ng-container matColumnDef="acciones">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Acciones
                </th>
                <td
                  mat-cell
                  *matCellDef="let element; let i = index"
                  class="text-center"
                >
                  <button
                    title="Eliminar producto"
                    mat-icon-button
                    color="warn"
                    (click)="removeProducto(i)"
                  >
                    <i-tabler class="d-flex" name="trash"></i-tabler>
                  </button>
                </td>
              </ng-container>
              <tr
                mat-header-row
                *matHeaderRowDef="productosDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: productosDisplayedColumns"
              ></tr>
            </table>
            <!-- Empty Row -->
            <div *ngIf="productosDataSource?.data?.length === 0">
              <div class="empty-row">No hay registros.</div>
            </div>
          </div>
        </div>

        <div fxFlex class="tabla-con-scroll">
          <div
            fxLayout="row"
            fxLayoutAlign="space-between center"
            class="gc-s-header"
            fxFlex
          >
            <div mat-subheader>Evidencias</div>
            <a
              mat-flat-button
              color="primary"
              (click)="abrirAgregarEvidenciaModal()"
            >
              <mat-icon>add_circle</mat-icon>
              Evidencia
            </a>

            <a mat-flat-button color="primary" (click)="EnvioCorreo()">
              <mat-icon>add_circle</mat-icon>
              Correo
            </a>
          </div>
          <div class="tabla-scrollable">
            <table mat-table [dataSource]="evidenciasDataSource">
              <!-- Nombre -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef class="sticky-header">
                  Nombre
                </th>
                <td mat-cell *matCellDef="let file">{{ file.nombre }}</td>
              </ng-container>

              <!-- Extensión -->
              <ng-container matColumnDef="extension">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Extensión
                </th>
                <td mat-cell *matCellDef="let file">
                  {{ file.nombre.split(".").pop() }}
                </td>
              </ng-container>

              <!-- Tamaño -->
              <ng-container matColumnDef="size">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  class="sticky-header text-center"
                >
                  Tamaño (KB)
                </th>
                <td mat-cell *matCellDef="let file">
                  {{
                    !file.tamanio
                      ? file.size.toFixed(2)
                      : (file.tamanio / 1024).toFixed(2)
                  }}
                </td>
              </ng-container>

              <!-- Base64 -->
              <ng-container matColumnDef="base64">
                <th mat-header-cell *matHeaderCellDef>Base64</th>
                <td mat-cell *matCellDef="let file">
                  <button mat-icon-button (click)="toggleBase64(file)">
                    <mat-icon>{{
                      file.showBase64 ? "visibility_off" : "visibility"
                    }}</mat-icon>
                  </button>
                  <textarea
                    rows="3"
                    cols="30"
                    *ngIf="file.showBase64"
                    [value]="file.base64"
                    readonly
                  ></textarea>
                </td>
              </ng-container>

              <!-- Acciones -->
              <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef class="sticky-header">
                  Acciones
                </th>
                <td mat-cell *matCellDef="let file; let i = index">
                  <button mat-icon-button color="warn" (click)="removeFile(i)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </td>
              </ng-container>

              <!-- Encabezado y Fila -->
              <tr
                mat-header-row
                *matHeaderRowDef="evidenciasDisplayedColumns"
              ></tr>
              <tr
                mat-row
                *matRowDef="let row; columns: evidenciasDisplayedColumns"
              ></tr>
            </table>
            <!-- Empty Row -->
            <div *ngIf="evidenciasDataSource?.data?.length === 0">
              <div class="empty-row">No hay registros.</div>
            </div>
          </div>
        </div>
      </div>

      <div mat-subheader>Proxima Visita:</div>
      <div
        fxLayout="row"
        fxLayoutGap="16px"
        class="gc-rs-proxima_visita_div"
        fxLayout.xs="column"
      >
        <mat-divider fxFlex></mat-divider>
      </div>
      <div
        fxLayout="row"
        fxLayoutGap="16px"
        fxLayoutAlign="end center"
        fxLayout.xs="column"
      >
        <mat-form-field appearance="outline" fxFlex="33">
          <mat-label>Proxima Visita</mat-label>
          <input
            matInput
            [matDatepicker]="pickerProximaVisita"
            formControlName="proximaVisita"
            placeholder="Selecciona una fecha"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerProximaVisita"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerProximaVisita></mat-datepicker>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="16px" fxLayout.xs="column">
        <mat-form-field appearance="outline" fxFlex>
          <mat-label>Descripción de la Visita</mat-label>
          <textarea
            matInput
            formControlName="descripcionProximaVisita"
            placeholder="Descripción de la Visita"
          ></textarea>
          <mat-error
            *ngIf="
              reporteServiciosForm
                .get('descripcionProximaVisita')
                ?.hasError('required')
            "
          >
            Las observaciones son obligatorias.
          </mat-error>
        </mat-form-field>
      </div>

      <!-- Botones -->
      <div class="row buttons">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!reporteServiciosForm.valid"
          (click)="onSubmit()"
        >
          Guardar/Actualizar
        </button>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="onCancel()"
        >
          Cancelar
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
