button {
  color: #ffffff;
  font-weight: 700;
  background-color: #EE6D26;
  border: none;
  height: 2.4rem;
  width: 15%;
  margin-top: 1.5rem;
  border-radius: 6px !important;
  font-weight: 200;
  font-size: 15px;
}

button:hover {
  background-color: #fa7224;
  cursor: pointer;
}

.inputsLogin{
  font-size: 15px;
  font-family: 'Inter', sans-serif;
}

.mat-form-input {
  width: 300px;
}

.instrucciones {
  text-align: center;
  color: black;
  padding-top:0px;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  font-size: 18px !important;

}

.container-img {
  position: relative;
  top: 0;
  text-align: center;
}

.login-container{
  margin-top: 2%;
  margin-bottom: 2%;
}
.login-block{
  margin : 0% 0;
  width: 100%;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container{
  background:#fff;
  border-radius: 10px;
  // box-shadow:15px 20px 0px rgba(0,0,0,0.1);
  margin-top: 1vh;
  width: 500px;
}

.container-compartido {
  display: flex !important;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.27) 0px 15px 25px;
}

.login-container form{
  padding: 5%;
}

.text {
  text-align: center;
}
.login-or {
  position: relative;
  font-size: 18px;
  color: #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.span-or {
  display: block;
  position: absolute;
  left: 50%;
  top: -2px;
  margin-left: -25px;
  background-color: #fff;
  width: 50px;
  text-align: center;
}
.hr-or {
  background-color: #cdcdcd;
  height: 1px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.btn-blue {
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
  background-color: #84692C;
  width: 320px;
  height: 40px;
}
.btn-gray {
  border: 1px solid #ffffff !important;
  color: #070707 !important;
  background-color: #dddbdb;
  width: 320px;
  height: 40px;
}

.invalid-feedback{
  display:block !important;
  color: #D72121;
  font-family: 'Inter', sans-serif;
}

.error-server {
  margin-top:10px;
  margin-bottom: 5px;
  color: #D72121;
  font-size: 12px;
  font-family: 'Inter', sans-serif;

}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 80%;
}

.responsive-image {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 18%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1366px) {
  .responsive-image {
    left: 50%;
  }
}

@media (min-width: 1920px) {
  .responsive-image {
    left: 10%;
  }
}

.small-image {
  max-width: 21%;
}

.center-items {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mat-mdc-form-field-error-wrapper {
  position: relative !important;
}


@media screen and (max-width: 600px) {
  .name-field {
    width: 100%;
  }

  .container{
    background:#ffffff;
    border-radius: 30px;
    margin-top: 5vh;
    width: 80vw;
    min-width: 300px;
  }
}
