<section class="login-block">
  <div class="container-compartido">
    <div class="container-img">
      <!-- <img src="./assets/img/Nezter-Logo_vrit.png"> -->
      <img src="./assets/img/logoN.png" style="width: 280px" />
    </div>
    <div class="container login-container">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <!-- <div class="card-body" style="text-align: center;"> -->
              <div class="center-items">
                <p style="font-weight: 400; font-size: 24px;  font-family: 'Inter', sans-serif;">¡Bienvenido a ZIVO!</p>
              </div>
              <div class="card-body center-items" style="text-align: center; color: black; padding-top:0px;">
                <p class="instrucciones">
                  Ahora necesitas generar una nueva contraseña con la que podrás ingresar a tu cuenta.
                  Una vez que restablezcas tu contraseña,
                  te redirigiremos a la pantalla de inicio de sesión.
                </p>
              </div>

              <div class="center-items">
                <mat-form-field class="name-field mat-form-input" appearance="outline">
                  <mat-label style="color:#000000; font-size: 15px;">Correo</mat-label>
                  <input matInput type="email" class="form-control input-sytle" formControlName="correo" placeholder="example@mail.com" class="inputsLogin">
                </mat-form-field>
              </div>

              <div class="center-items">
                <mat-form-field class="name-field mat-form-input" appearance="outline">
                  <mat-label style="color:#000000; font-size: 15px;">Contraseña</mat-label>
                  <input matInput [type]="hidePwd ? 'password' : 'text'" formControlName="password" class="inputsLogin"
                    class="form-control input-sytle" placeholder="Contraseña" (input)="limpiarCampoError()"
                    (focus)="limpiarCampoError()" (blur)="validarFueraDelBtn()"/>
                  <mat-icon matSuffix (click)="hidePwd = !hidePwd" style="cursor: pointer; margin-top: 6px; margin-left: 8px">
                    {{ hidePwd ? "visibility_off" : "visibility" }}
                  </mat-icon>

                  <!--Validaciones para password-->
                  <mat-error *ngIf="this.f['password'].hasError('required')">Contraseña requerida</mat-error>
                  <mat-error *ngIf="this.f['password'].hasError('minlength')">Debe tener al menos {{longitudMinCaracter}} caracteres</mat-error>
                  <mat-error *ngIf="this.f['password'].hasError('hasNumber')">Debe tener al menos {{numeroMinContrasena}} número</mat-error>
                  <mat-error *ngIf="this.f['password'].hasError('hasCapitalCase')">Debe tener al menos {{mayusculasMinContrasena}} Mayúscula</mat-error>
                  <mat-error *ngIf="this.f['password'].hasError('hasSpecialCharacters')">Debe tener al menos {{caracteresEspMinContrasena}} carácter especial (&#33;&#64;#$%/&*)</mat-error>
                </mat-form-field>
              </div>

              <!--Validaciones para password-->
              <!-- <div *ngIf="this.f['password'].hasError('required')" class="invalid-feedback">Contraseña requerida</div>

              <div *ngIf="!this.f['password'].hasError('required') && this.f['password'].hasError('minlength')" class="invalid-feedback">
                Debe tener al menos {{longitudMinCaracter}} caracteres
              </div>

              <div *ngIf="!this.f['password'].hasError('required') && this.f['password'].hasError('hasNumber')" class="invalid-feedback">
                Debe tener al menos {{numeroMinContrasena}} número
              </div>

              <div *ngIf="!this.f['password'].hasError('required') && this.f['password'].hasError('hasCapitalCase')" class="invalid-feedback">
                Debe tener al menos {{mayusculasMinContrasena}} Mayúscula
              </div> -->

              <!-- <div *ngIf="!this.f.password.errors?.required &&
                this.f['password'].hasError('hasSmallCase')" class="invalid-feedback">
                Debe tener al menos 1 minúscula
              </div> -->

              <!-- <div *ngIf="!this.f['password'].hasError('required') && this.f['password'].hasError('hasSpecialCharacters')" class="invalid-feedback">
                Debe tener al menos {{caracteresEspMinContrasena}} carácter especial (&#33;&#64;#$%/&*)
              </div> -->

              <br>

              <div class="center-items">
                <mat-form-field class="name-field mat-form-input" appearance="outline">
                  <mat-label style="color:#000000; font-size: 15px;">Confirmar contraseña</mat-label>
                  <input matInput [type]="hidePwdRepeat ? 'password' : 'text'" class="inputsLogin"
                    formControlName="passwordRepeat" class="form-control input-sytle"
                    placeholder="Confirmar contraseña" (paste)="onPaste($event)" (input)="limpiarCampoError()" (focus)="limpiarCampoError()" (blur)="validarFueraDelBtn()"/>
                  <mat-icon matSuffix (click)="hidePwdRepeat = !hidePwdRepeat" style="cursor: pointer; margin-top: 6px; margin-left: 8px">
                    {{ hidePwdRepeat ? "visibility_off" : "visibility" }}
                  </mat-icon>

                  <!--Validaciones para password-->
                  <mat-error *ngIf="this.f['passwordRepeat']?.hasError('required')">Contraseña requerida</mat-error>
                  <mat-error *ngIf="this.f['passwordRepeat'].hasError('minlength')">Debe tener al menos {{longitudMinCaracter}} caracteres</mat-error>
                  <mat-error *ngIf="this.f['passwordRepeat'].hasError('hasNumber')">Debe tener al menos {{numeroMinContrasena}} número</mat-error>
                  <mat-error *ngIf="this.f['passwordRepeat'].hasError('hasCapitalCase')">Debe tener al menos {{mayusculasMinContrasena}} Mayúscula</mat-error>
                  <mat-error *ngIf="this.f['passwordRepeat'].hasError('hasSpecialCharacters')">Debe tener al menos {{caracteresEspMinContrasena}} carácter especial (&#33;&#64;#$%/&*)</mat-error>

                  <!--Mensajes error de servidor-->
                  <mat-error *ngIf="error">{{error}}</mat-error>
                </mat-form-field>
              </div>

              <!--Validaciones para password-->
              <!-- <div *ngIf="this.f['passwordRepeat']?.hasError('required')" class="invalid-feedback">
                Contraseña requerida
              </div>

              <div *ngIf="!this.f['passwordRepeat']?.hasError('required') && this.f['passwordRepeat'].hasError('minlength')" class="invalid-feedback">
                Debe tener al menos {{longitudMinCaracter}} caracteres
              </div>

              <div *ngIf="!this.f['passwordRepeat']?.hasError('required') && this.f['passwordRepeat'].hasError('hasNumber')" class="invalid-feedback">
                Debe tener al menos {{numeroMinContrasena}} número
              </div>

              <div *ngIf="!this.f['passwordRepeat']?.hasError('required') && this.f['passwordRepeat'].hasError('hasCapitalCase')" class="invalid-feedback">
                Debe tener al menos {{mayusculasMinContrasena}} Mayúscula
              </div> -->

              <!-- <div *ngIf="!this.f.passwordRepeat.errors?.required &&
                this.f['passwordRepeat'].hasError('hasSmallCase')" class="invalid-feedback">
                Debe tener al menos {{numeroMinContrasena}} minúscula
              </div> -->

              <!-- <div *ngIf="!this.f['passwordRepeat']?.hasError('required') && this.f['passwordRepeat'].hasError('hasSpecialCharacters')" class="invalid-feedback">
                Debe tener al menos {{caracteresEspMinContrasena}} carácter especial (&#33;&#64;#$%/&*)
              </div> -->

              <!--Mensajes error de servidor-->
              <!-- <div *ngIf="error" class="error-server">{{error}}</div> -->
              <br>
              <div class="center-items">
                <button type="submit" class="btn btn-round btn-sm">Guardar</button>
              </div>
            <!-- </div> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
