<h2 mat-dialog-title>Seleccionar Producto</h2>
<mat-dialog-content class="dialog-content">
  <form [formGroup]="productoForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Producto</mat-label>
      <input
        matInput
        placeholder="Buscar producto"
        formControlName="producto"
        (input)="buscarProducto($event)"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option
          *ngFor="let producto of productosFiltrados"
          [value]="producto.nombre"
          (click)="seleccionarProducto(producto)"
        >
          {{ producto.nombre }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="descripcion" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Cantidad</mat-label>
      <input matInput type="number" formControlName="cantidad" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Stock</mat-label>
      <input matInput formControlName="stock" readonly />
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cerrar</button>
  <button
    mat-flat-button
    color="primary"
    [disabled]="!productoForm.valid"
    (click)="aceptar()"
  >
    Aceptar
  </button>
</mat-dialog-actions>
