<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-card-title>Lista de Gastos</mat-card-title>
    <mat-card-subtitle class="mat-body-1"></mat-card-subtitle>
    <div class="m-l-auto">
      <button mat-flat-button color="primary" (click)="onClickNuevoGasto()">
        <mat-icon>add_circle</mat-icon>
        Nuevo Gasto
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive m-t-16">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource">
          <!-- 'nombreUsuarioCreacion', 'concepto', 'monto', 'factura', 'fecha', 'editar', 'eliminar' -->
          <!-- Columnas de la tabla -->
          <ng-container matColumnDef="nombreUsuarioCreacion">
            <th mat-header-cell *matHeaderCellDef>Usuario</th>
            <td mat-cell *matCellDef="let element">
              {{ element.nombreUsuarioCreacion }}
            </td>
          </ng-container>

          <ng-container matColumnDef="concepto">
            <th mat-header-cell *matHeaderCellDef>Concepto</th>
            <td mat-cell *matCellDef="let element">{{ element.concepto }}</td>
          </ng-container>

          <ng-container matColumnDef="monto">
            <th mat-header-cell *matHeaderCellDef>Monto</th>
            <td mat-cell *matCellDef="let element">
              ${{ element.monto | currency : "" : "" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef>Fecha</th>
            <td mat-cell *matCellDef="let element">
              {{ element.fecha | date : "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="editar">
            <th mat-header-cell *matHeaderCellDef>Editar</th>
            <td mat-cell *matCellDef="let element">
              <a
                style="cursor: pointer"
                aria-label="Editar Gasto"
                (click)="fnEditarGasto(element.id)"
              >
                <i-tabler class="d-flex" name="edit"></i-tabler>
              </a>
            </td>
          </ng-container>

          <ng-container matColumnDef="eliminar">
            <th mat-header-cell *matHeaderCellDef>Eliminar</th>
            <td mat-cell *matCellDef="let element">
              <a
                style="cursor: pointer"
                aria-label="Eliminar Gasto"
                (click)="fnEliminarGasto(element.id)"
              >
                <i-tabler class="d-flex" name="trash"></i-tabler>
              </a>
            </td>
          </ng-container>

          <!-- Fila de la tabla -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <!-- Mensaje Sin Registros -->
        <div *ngIf="dataSource?.data?.length === 0">
          <div class="text-center gc-div-sin_registros">
            No hay registros disponibles.
          </div>
        </div>

        <!-- Paginador -->
        <mat-paginator
          [length]="100"
          [pageSize]="10"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          (page)="busquedaGastosPage($event)"
        ></mat-paginator>
      </div>
    </div>
  </mat-card-content>
</mat-card>
